.body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 0;
  }
  
  .img {
    position: relative;
    background-color: black;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0;
    width: 100%;
  }
  
  .teste {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .teste img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .texto-body {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-align: right;
    font-family: "Montserrat";
    font-size: 2vw;
    padding-right: 50px;
  }
  
  .texto-body h1 {
    margin: 0;
    font-size: 3vw;
  }
  
  .button-body {
    background: linear-gradient(to right, #b69557, #d89e10);
    border: none;
    color: black;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 1vw 0.5vw;
    cursor: pointer;
    border-radius: 0.5vw;
    font-family: "Montserrat";
    font-weight: bolder;
  }
  
  
  @media (max-width: 768px) {
    .img {
      height: auto;
    }
  
    .texto-body {
      font-size: 4vw;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      padding-right: 0;
    }
  
    .texto-body h1 {
      font-size: 5vw;
    }
  }
  