.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

.img-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.descricao {
  color: white;
  margin-top: 20px;
}

.item {
  margin-bottom: 20px;
}

.text {
  color: white;
}

.refrigerante {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.refrigerante img {
  width: 12%;
  max-width: 70%;
  height: auto;
  padding-right: 10px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.counter-price {
  color: #b8860b;
  margin-bottom: 10px;
}

.counter-controls {
  display: flex;
  align-items: center;
}

.counter-button {
  background-color: #b8860b;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.counter-button:hover {
  background-color: #e0e0e0;
}

.counter-quantity {
  color: black;
  margin: 0 10px;
  font-size: 18px;
  background-color: #fff;
}

.total-price {
  color: white;
  margin-top: 20px;
}

.select-container {
  margin-top: 20px;
}

.styled-select {
  background-color: #333;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.styled-select:focus {
  outline: none;
  border-color: #888;
}

.styled-select option {
  background-color: #333;
  color: white;
}

.selecimg{
  display: flex;
}

@media (max-width: 768px) {
  .img-container {
    width: 90%;
  }

  .img-container img {
    width: 50%;
  }

  .refrigerante {
    flex-direction: column;
    align-items: center;
  }

  .refrigerante img {
    width: 30%;
  }
}
