.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.texto {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
    flex-direction: column;
    flex-grow: 1; 
   
}

img {
    width: 100%; 
}

h3 {
    font-weight: lighter;
    
}