.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .img1 {
    flex: 0 1 calc(45% - 20px); 
    max-width: calc(45% - 20px); 
    margin: 10px; 
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border-radius: 11px;
    text-decoration: none; 
    transition: transform 0.2s;
  }
  
  .img1:hover {
    transform: scale(1.05); 
  }
  
  .texto-menu {
    text-align: center;
  }
  
  .texto-menu img {
    width: 100%;
    height: auto;
    max-width: 200px; 
    margin-bottom: 10px;
  }
  
  .texto-menu h1, .texto-menu h2 {
    margin: 5px 0;
    font-size: 1rem; 
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .valor {
    font-weight: bold;
    color: #B8860B;
    font-size: 25px;
  }
  