.button {
    background: linear-gradient(to right, #b69557, #d89e10);
    border: none;
    color: black;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 1vw 0.5vw;
    cursor: pointer;
    border-radius: 0.5vw;
    font-family: "Montserrat";
    font-weight: bolder;
  }