body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header,
.nav,
.main,
.aside,
.footer {
  padding: 1em;
  border: 1px solid #ccc;
}

img {
  max-width: 100%;
  height: auto;
}
img1 {
  max-width: 100%;
  height: auto;
}
img2 {
  max-width: 100%;
  height: auto;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header,
  .footer {
    flex: 1 100%;
  }

  .nav {
    flex: 1;
  }

  .main {
    flex: 2;
  }

  .aside {
    flex: 1;
  }
}

@media (max-width: 599px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header,
  .footer,
  .nav,
  .main,
  .aside {
    flex: 1 100%;
  }
}
