.paginaFinal {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-family: "Montserrat";
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 80px;
    max-width: 90%;
  }
  
  @media (max-width: 600px) {
    .conteudo {
      padding: 10px;
    }
  
    .footer-finalize {
      font-size: 12px;
      padding: 2px 0;
    }
  }
  
  .text {
    color: white;
    font-size: 1.2em;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  