.footer {
  background-color: #191919;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer p {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .footer p {
    margin: 0 20px;
  }
}
